[Desktop Entry]
Version=1.0
Type=Application
Name=qTox
Commen=Qt Tox client
TryExec=qtox
Exec=qtox %u
Icon=qtox
Categories=InstantMessaging;Network;AudioVideo;
Terminal=false
MimeType=x-scheme-handler/tox;
